<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apemans.platformbridge">

    <application>
        <activity
            android:name=".TestMessageActivity"
            android:launchMode="singleTask"
            />
    </application>

</manifest>